    <div class="card border-success">
      <div class="card-header bg-success text-white">
        Post's
      </div>
      <div class="table-responsive">
        <table class="table bg-light table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date Created</th>
              <th scope="col">Owner</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{!-- {{#each articles as |article|}} --}}
            {{#each posts as |post|}}
              <tr>
                <th scope="row">{{post.id}}</th>
                <td>{{post.title}}</td>
                {{!-- <td>{{format_datetime date_created}}</td> --}}
                <td></td>
                <td>{{user.name}}</td>
                <td><a
                    href="/editArticle/{{id}}"
                    class="btn btn-info btn-sm"
                  >Edit</a></td>
                <td>
                  <a
                    href="/delete/{{id}}"
                    class="btn btn-danger btn-sm"
                  >Delete</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>